
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Bnr Head -->
<section class="bnr-head">
    <div class="container">
        <div class="position-center-center">
            <h3>دانلود آهنگ </h3>
            <p>
                پروژه موزیک
                الناز شبستری
                استاد دادگر
            </p>
        </div>
    </div>
</section>

<!-- Discover -->
<section class="discover discover-style-2">
    <div class="container">
        <div class="main-heading">
            <h3>جسجتو سبک موسیقی خود</h3>
            <hr>
        </div>

        <!-- Center Circle -->
        <div class="outer">
            <div class="center-part">
                <div class="position-center-center"> با سلیقه خود وارد شوید</div>
            </div>

            <!-- Bramds -->
            <div class="discover-music">
                <ul class="row">
                    @foreach (var item in ViewBag.ListGenres)
                    {
                        <li class="col-sm-4">
                            <a href="@Url.Action("Bands",new {genreId = item.Id})">@item.Name</a>
                            <img src="~/Library/images/genere.jpg" alt="@item.Name">
                            @*@if (item.ImageUrl == null)
                                {
                                    <img src="~/Library/images/dis-img-7.jpg" alt="@item.Name">
                                }
                                else
                                {
                                    <img src="@Url.Content(item.ImageUrl)" alt="@item.Name">

                                }*@
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Latest Release -->
<section class="latest-release">
    <div class="container">
        <div class="main-heading">
            <h3>آخرین منتشر شده ها</h3>
            <hr>
        </div>

        <!-- Latest Release -->

        <div class="row">
            @foreach (var item in ViewBag.LastReleaseSpecial)
            {
                <div class="col-md-6">
                    <article>
                        @if (item.ImageUrl == null)
                        {
                            <img src="~/Library/images/relase-img-1.jpg" alt="">
                        }
                        else
                        {
                            <img src="@Url.Content(item.ImageUrl)" alt="">

                        }
                        <div class="botm-text">
                            <span>آهنگ ویژه</span> <a href="#" style="height: 400px;">@item.FileName</a>
                        </div>
                    </article>
                </div>

                break;
            }


            <!-- Latest Release -->
            <div class="col-md-6">
                <div class="row">
                    @foreach (var item in ViewBag.LastRelease)
                    {
                        <div class="col-md-6">
                            <article>
                                @if (item.ImageUrl == null)
                                {
                                    <img src="~/Library/images/relase-img-2.jpg" alt="" >
                                }
                                else
                                {
                                    <img src="@Url.Content(item.ImageUrl)" alt="" style="width: 300px; height: 276px;">

                                }

                                <div class="botm-text">
                                    <span>آهنگ</span> <a href="#">@item.FileName</a>
                                </div>
                            </article>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

